@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page Home */
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0f172a;
}

/*Header*/
.head-Container {
  display: flex;
  width: 100%;
  height: 144px;
  background-color: #0f172a;
  align-items: center;
  justify-content: center;
}
.burger-icon{
  display: none;
}
.Menu {
  display: flex;
  width: 70%;
  height: 96px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #19202e;
  box-shadow: 0px 0px 15px 0px #00000012;
  box-shadow: 0px 25px 50px -12px #00000040;
  padding: 24px;
  border-radius: 20px;
}
.Menu-Droit {
  display: flex;
  flex-direction: row;
  width: 29%;
  gap: 38px;
}
.Menu-Gauche {
  display: flex;
  flex-direction: row;
  width: 24%;
  gap: 38px;
}
.Link-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 16px;
}
.Link-group2 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  align-items: center;
  gap: 16px;
}
.Nom {
  color: white;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
}
.Link-Page {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 24px;
  padding: 12px 8px 12px 8px;
}
.Link-Join {
  color: white;
  background-color: #9333ea;
  border-radius: 8px;
  height: 48px;
  width: 53%;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Accueil*/
.Titre-accueil {
  color: white;
  text-align: center;
  font-family: "Roboto";
  font-size: 72px;
  font-weight: 800;
}
.web {
  color: #c084fc;
  font-weight: 300;
  font-family: "Roboto";
}
.facettes {
  text-decoration: underline #c084fc;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}
.Text-accueil {
  color: white;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  width: 65%;
  line-height: 160%;
}
.Container-accueil-Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 89%;
  gap: 32px;
}
.Container-accueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px;
  gap: 80px;
}
.Decouverte {
  color: white;
  background-color: #9333ea;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: "roboto";
  font-size: 20px;
}
.Abonnement {
  color: white;
  border: solid 2px white;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: "roboto";
  font-size: 20px;
}
.Button-accueil {
  gap: 16px;
  width: 41%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Image-accueil {
  border-radius: 20px;
}
.Container-accueil-Image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 76%;
}

/*Partenaire*/
.Container-Partenaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 80px;
  padding: 80px;
}
.Titre-Partenaire {
  color: white;
  text-align: center;
  font-family: "Roboto";
  font-size: 56px;
  font-weight: 800;
}
.liste-Partenaire {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 89%;
}
.Partenaire {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.Nom-Partenaire {
  color: white;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}

/*Apprentissage*/
.Container-Apprentissage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 80px;
}
.Apprentissage-Image {
  width: 42%;
}
.Apprentissage {
  width: 43%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.apprentissage-Img {
  width: 100%;
  border-radius: 20px;
}
.text-A {
  font-size: 20px;
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: "Roboto";
  text-transform: uppercase;
}
.text-B {
  font-size: 72px;
  color: #c084fc;
  font-family: "Roboto";
  font-weight: 800;
}
.text-B-Mobile {
  display: none;
  font-size: 72px;
  color: #c084fc;
  font-family: "Roboto";
  font-weight: 800;
}
.et {
  color: white;
}
.text-C {
  font-size: 18px;
  color: white;
  font-weight: 400;
  line-height: 160%;
  font-family: "Roboto";
}
.Link-ressources {
  color: white;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 16px;
}

/*Restez Informe*/
.tendances {
  color: #c084fc;
}
.text-B1 {
  font-size: 72px;
  color: white;
  font-family: "Roboto";
  font-weight: 800;
}
.text-B1-Mobile {
  display: none;
}
.RestezInforme {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 80px;
  gap: 110px;
}
.RestezInforme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 56%;
  gap: 24px;
}
.RestezInforme-Image {
  width: 29%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Container-RestezInforme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*Page de Contact */
.Contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0f172a;
}
.Main-Contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0f172a;
  padding: 80px;
  box-sizing: border-box;
}
.form-container {
  background: #c084fc1a;
  padding: 32px;
  border-radius: 12px;
  border: 1px solid #a855f7;
  max-width: 700px;
  margin: 50px auto;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}
input,
textarea {
  border: none;
  border-bottom: 1px solid #a855f7;
  padding: 8px;
  background-color: transparent;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #c084fc;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  transition: all 0.3s ease;
}

/*Page de Connexion
la moitier du css du questionnaire est ds le css de la page Contact*/
.Connexion {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0f172a;
}
.form-column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.form-login-container {
  padding: 32px;
  border-radius: 12px;
  max-width: 700px;
  margin: 50px auto;
}

/*Footer*/
.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}
.Footer_top {
  display: flex;
  flex-direction: row;
  width: 89%;
  gap: 48px;
  padding-top: 48px;
  padding-bottom: 48px;
  border-bottom: solid 1px #e2e8f0;
}
.Footer-menu {
  display: flex;
  flex-direction: column;
  width: 17%;
}
.Footer_title {
  color: black;
  font-size: 32px;
  font-weight: 700;
  font-family: "Roboto";
}
.title_link {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  color: #94a3b8;
  line-height: 110%;
  padding-bottom: 12px;
}
.Page_link {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
  color: #0f172a;
  padding-top: 12px;
  padding-bottom: 12px;
}
.Footer_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 89%;
  padding-top: 48px;
  padding-bottom: 48px;
}
.copyright {
  color: #0f172a;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
}
.social_media {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*Css placeholder */
input::placeholder,
textarea::placeholder {
  color: #c084fc;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  opacity: 1;
  transition: opacity 0.2s ease;
}
/*Masquer le placeholder au focus */
input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}
/*Bordure complète au focus */
input:focus,
textarea:focus,
.input-focus {
  outline: none;
  border: 1px solid #c084fc;
  border-radius: 6px;
}
.full {
  width: 100%;
}
.form-button {
  text-align: center;
}
.form-button button {
  background-color: #a855f7;
  border: none;
  color: white;
  padding: 11px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-family: "roboto";
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease;
}
.form-button button:hover {
  background-color: #9333ea;
}
.titre-form {
  font-family: "roboto";
  font-size: 72px;
  color: white;
  line-height: 110%;
  font-weight: 800;
  text-align: center;
}
.Contact-Info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.text-contact {
  font-family: "roboto";
  font-size: 18px;
  color: white;
  line-height: 160%;
  text-align: center;
  font-weight: 400;
}

/*Tablette: max-width 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .Menu {
    width: 80%;
  }
  .Link-Join {
    border-radius: 8px;
    height: 48px;
    width: 30%;
  }
  .Menu-Gauche {
    width: 50%;
  }
  .Link-group {
    width: 40%;
  }
  .Container-accueil-Image {
    width: 70%;
  }
  .Image-accueil {
    width: 100%;
  }
  .Container-accueil-Text {
    width: 100%;
  }
  .Button-accueil {
    width: 65%;
  }
  .Titre-accueil {
    font-size: 56px;
  }
  .Text-accueil {
    width: 95%;
  }
  .liste-Partenaire {
    gap: 65px;
    width: 85%;
    flex-wrap: wrap;
  }
  .Container-Apprentissage {
    padding: 60px;
    gap: 20px;
  }
  .Apprentissage {
    width: 47%;
    gap: 10px;
  }
  .Apprentissage-Image {
    width: 35%;
  }
  .text-A {
    font-size: 20px;
  }
  .text-B {
    font-size: 50px;
  }
  .text-B-Mobile {
    display: none;
  }
  .text-C {
    font-size: 14px;
  }
  .Link-ressources {
    font-size: 23px;
    gap: 9px;
  }
  .RestezInforme-Image {
    width: 30%;
  }
  .Information-Img {
    width: 80%;
  }
  .RestezInforme {
    width: 55%;
    padding: 40px;
    gap: 10px;
  }
  .text-B1 {
    font-size: 50px;
  }
  .text-B1-Mobile {
    display: none;
  }
  .titre-form {
    font-size: 60px;
  }
  .text-contact {
    font-size: 20px;
  }
  .form-group {
    width: 90%;
  }
  .form-column {
    justify-content: center;
    align-items: center;
  }
}

/* mobile/tablette portrait */
@media (min-width: 641px) and (max-width: 768px) {
  .Image-accueil {
    width: 100%;
  }
  .liste-Partenaire {
    flex-wrap: wrap;
  }
  .Button-accueil {
    flex-direction: column;
  }
  .Titre-accueil {
    font-size: 42px;
  }
  .Container-accueil {
    padding: 60px;
  }
  .Text-accueil {
    font-size: 19px;
    width: 80%;
    line-height: 170%;
  }
  .Button-accueil {
    width: 50%;
  }
  .Container-Apprentissage {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 80px;
  }
  .Apprentissage {
    width: 100%;
    gap: 35px;
    align-items: center;
  }
  .text-A {
    text-align: center;
  }
  .text-B {
    display: none;
  }
  .text-C {
    text-align: center;
  }
  .text-B-Mobile {
    display: block;
    font-size: 44px;
    color: #c084fc;
    font-family: "Roboto";
    font-weight: 800;
  }
  .Apprentissage-Image {
    width: 100%;
  }
  .Container-RestezInforme {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 30px;
    padding: 80px;
  }
  .RestezInforme-Image {
    width: 100%;
  }
  .Information-Img {
    width: 70%;
  }
  .RestezInforme {
    width: 100%;
    gap: 35px;
    align-items: center;
    padding: 0px;
  }
  .text-B1 {
    display: none;
  }
  .text-B1-Mobile {
    display: block;
    font-size: 44px;
    color: white;
    text-align: center;
    font-family: "Roboto";
    font-weight: 800;
  }
  .Footer_top {
    flex-direction: column;
    width: 100%;
    gap: 65px;
  }
  .Footer-menu {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .Footer_title {
    font-size: 72px;
  }
  .title_link {
    font-size: 25px;
  }
  .Page_link {
    font-size: 20px;
  }
  .social_media {
    width: 40%;
  }
  .Link-ressources {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .form-group {
    width: 90%;
  }
  .full {
    width: 100%;
  }
  .titre-form {
    font-size: 60px;
  }
  .form-column {
    justify-content: center;
    align-items: center;
  }

}
/* mobile/tablette portrait */
@media (min-width: 1px) and (max-width: 640px) {
  .liste-Partenaire {
    flex-wrap: wrap;
  }
  .Image-accueil {
    width: 100%;
  }
  .Container-accueil-Image {
    width: 95%;
  }
  .Titre-accueil {
    font-size: 59px;
  }
  .Footer_top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-B1 {
    font-size: 15px;
  }
  .Text-accueil {
    width: 100%;
  }
  .Button-accueil {
    flex-direction: column;
    width: 82%;
  }
  .Container-Apprentissage {
    padding: 50px;
    flex-direction: column;
  }
  .Apprentissage {
    width: 80%;
  }
  .text-A {
    text-align: center;
  }
  .text-B {
    display: none;
  }
  .text-B-Mobile {
    display: flex;
    flex-wrap: wrap;
    font-size: 39px;
    gap: 15px;
    text-align: center;
    justify-content: center;

  }
  .text-C {
    font-size: 16px;
    text-align: center;
  }
  .Apprentissage-Image {
    width: 70%;
  }
  .Container-Apprentissage {
    gap: 60px;
  }
  .Link-ressources {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .Container-RestezInforme {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .RestezInforme {
    width: 100%;
  }
  .text-B1 {
    font-size: 39px;
    text-align: center;
  }
  .Information-Img {
    width: 100%;
  }
  .RestezInforme-Image {
    width: 50%;
    padding-bottom: 50px;
  }
  .Footer-menu {
  justify-content: center;
  align-items: center;
  }
  .Footer_bottom {
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
   gap: 50px;
}
.social_media {
    width: 40%;
}
  .form-group {
    width: 100%;
  }
  .form-row {
    flex-direction: column;
    gap: 50px;
}
.form {
    gap: 50px;
}
  .full {
    width: 100%;
  }
  .titre-form {
    font-size: 60px;
  }
  .form-column {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1024px) {

 .burger-icon {
    display: block; /* Affiché seulement sur mobile/tablette */
  }

  .Menu-Gauche,
  .Link-group,
  .Link-group2 {
    display: none; /* Cache les liens classiques en responsive */
  }

  .Menu {
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 90%;
  }

  .burger-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .mobile-menu {
    position: absolute;
    top: 96px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: #19202e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    gap: 16px;
    z-index: 1000;
    border-radius: 15px;
    animation: slideDown 0.3s ease-in-out;
  }

  .mobile-menu.closing {
    animation: slideUp 0.3s ease-in-out forwards;
  }

  .mobile-menu a {
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #af69ef;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%) translateX(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(0) translateX(-50%);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(0) translateX(-50%);
      opacity: 1;
    }
    to {
      transform: translateY(-20px) translateX(-50%);
      opacity: 0;
    }
  }
.mobile-menu.closing {
  animation: slideUp 0.3s ease-in-out forwards;
}

}